/* https://stackoverflow.com/questions/37287153/how-to-get-images-in-bootstraps-card-to-be-the-same-height-width */
/*
.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;} /* or contain*/

.embed-responsive .card-img-top {
    object-fit: cover;
}
.margin-adjustment-1{
    margin-top: 4rem;
}
.adjust-profile-pic{
    height:16rem;
    width:19rem;
}
.social-media-links a{
    display: block;
	width:45px;
	height:45px;
    color: black;
	font-size:35px;
	/* To make icon display on middle*/
	display:flex;
	justify-content:center;
	align-items: center;
	text-decoration: none;
	margin-left: 10px;
}
